* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-y: hidden;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

::-webkit-scrollbar {
    display: none;
}

.night {
    height: 100vh;
    width: 100vw;
    /* margin: 0rem auto; */
    background: url("/assets/Img_1.png");
    background-size: cover;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;

}

.surface {
    height: 140px;
    width: 500%;
    background: url("/assets/Img_02.png");
    display: block;
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-repeat: repeat-x;
}

.car {
    position: absolute;
    bottom: 6%;
    left: 24%;
}


/* Animation */

@keyframes moveRight {
    100% {
        transform: translateX(-2950px);
    }
}

@keyframes suspension {
    100% {
        transform: translateY(-1px);
    }

    50% {
        transform: translateY(2px);
    }

    0% {
        transform: translateY(-1px);
    }
}

.moveRight {
    animation: moveRight 6s linear infinite;
}

.suspension{
    animation: suspension .8s linear infinite;
}