.head-1{
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    color: black;
}
.brands img{
    width: 60%;
    right: 23rem;
    display: block;
    margin: 30px auto;
}

.thought img{
    width: 80%;
    display: block;
    margin: 50px auto;
}


@media screen and (max-width: 1024px) {
    .head-1{
        font-size: 25px;
        text-align: center;
    }
    
.brands img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
}