:root {
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --darkblue: #031229;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer-container {
    background-color: var(--darkblue);
    height: 40vh;
    color: #ffffff;
    font-family: var(--poppins);
    display: flex;
    list-style: none;
    width: 100%;
}

.SocialM a {
    text-decoration: none;
    line-height: 2.6rem;
    color: white;
}

.Company a {
    text-decoration: none;
    line-height: 2.6rem;
    color: white;
}

.Features a {
    text-decoration: none;
    line-height: 2.6rem;
    color: white;
}

.visit {
    display: flex;
}

.footer-container p {
    margin-left: 4rem;
    margin-top: 2rem;
}

.SocialM {
    margin-left: 30em;
    margin-right: 6rem;
    margin-top: 2rem;
    cursor: default;
}

.Company {
    margin-right: 6rem;
    cursor: default;
    margin-top: 2rem;
}

.Features {
    margin-top: 2rem;
    cursor: default;
}


@media screen and (max-width:1120px) {
    .footer-container {
        height: 100vh;
    }

    .visit {
        display: inline-table;
        text-align: center;
        width: 100%;
        margin: 2.5rem 0;
    }

    .SocialM {
        margin: 0 0 15px 0;
    }

    .Company {

        margin: 30px 0 0 0;
    }

    .Features {
        margin: 30px 0 0 0;
    }

    .footer-container p {
        display: none;
    }

}