:root {
    --darkgrey: #080808;
    --bright-red: #d82020;
    --white: white;
    --light-red: #eb6262;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.monitoring {
    width: 90%;
    height: 50vh;

}

.content-monitoring {
    float: right;
}

.content-monitoring h2 {
    font-size: 30px;
    font-family: var(--poppins);
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.content-monitoring p {
    font-family: var(--roboto);
    margin: 20px 0;
    text-align: justify;
    line-height: 2.3rem;
    font-size: 18px;
}

.arrow-icon i {
    font-size: 1.6rem;
    margin-right: 1rem;
    color: #ff7f50;
    cursor: pointer;
}

.link1 {
    text-decoration: none;
    color: #ff7f50;
    font-size: 22px;
    margin-right: 30px;
    font-family: var(--poppins);
}

.monitoring-link {
    margin-top: 2rem;
}

.svg-img-data img {
    height: 42%;
    width: 42%;
    float: left;
    margin-left: 3rem;
}

