* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #e7e7e7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.heading1 {
    font-size: 3.6rem;
    margin-bottom: 3rem;
}

.heading2 {
    font-size: 5rem;
    margin-bottom: 3rem;
}


button {
    border: 3px solid black;
    border-radius: 6px;
    padding: 1rem 4rem;
    background-color: transparent;
    margin-right: 3rem;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

button:active {
    transform: translateY(4px);
}