.app__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 100vw;
    font-family: var(--font-base);

    h1 {
        margin-bottom: 1rem 0;
    }

}

.app__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;

    input {
        margin: 1rem 0;
        padding: 8px;
        width: 100%;
        font-size: 16px;
    }

    button {
        font-size: 16px;
        margin-top: 1rem;
        padding: .6rem 4rem;
        background-color: var(--secondary-color);
        border: none;
        outline: none;
        box-shadow: 0 0 12px rgba(168, 168, 168, 0.25);
        border-radius: 4px;
        color: var(--white-color);
        transition: all 0.3s ease;
        cursor: pointer;

        &:active {
            transform: translateY(3px);
        }
    }
}