@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



::-webkit-scrollbar{
    display: none;
}

.img {
    background: url(/Assets/Images/bg_img2.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.heading {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2.6rem;
    text-align: center;
    color: #ffffff;

}

.para {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;

}

.form {
    text-align: center;
}

.form .input_form {
    width: 80%;
    padding: 13px;
    border-radius: 50px;
    border: none;
    outline: none;

}

.btn1 {
    padding: 12px 35px;
    margin: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: #ff9100;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;

}


ul {
    list-style-type: none;
    float: right;
    margin-top: 45px;

}

li {
    display: inline-block;
    padding-left: 40px;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Noto Sans HK', sans-serif;
    padding: 12px 15px;
    transition: 0.5s ease-in-out;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
}

li a:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    border-radius: 5px;
    padding: 12px 15px;
}


.menu {

    max-width: 1400px;
    margin: auto;
}

.img1 {
    height: 420px;
    width: 850px;
    max-width: 100%;
}

.img2 {
    height: 420px;
    width: 650px;
    max-width: 100%;
}

.img3 {
    height: 420px;
    width: 650px;
    max-width: 100%;
}

.section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.container1 {
    float: left;
    width: 32%;
    padding-left: 50px;
    margin-top: 20px;
    transition: 0.3s ease;

}

.header2 {
    font-size: 35px;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 2rem;
    text-align: center;
}

.h2 {
    text-align: center;
    margin: 20px auto;
}

.p2 {
    text-align: justify;

}

.visit {
    padding: 12px 30px;
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    margin: 20px auto;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .container1 {
        float: none;
        width: 92%;
    }

    li{
        padding-left: 30px;
    }
}

.footer_container footer {
    background-color: #212329;
    padding-bottom: 2rem;
    position: fixed;
    text-align: center;
}

.footer {
    width: 100%;

    background-color: #222222;
    display: flex;
    color: #ffffff;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;


}

.footer-heading h2 {
    margin-bottom: 2rem;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.footer-heading a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: .2rem;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    transition: 0.3s ease-in;
}

#footer-email {
    width: 280px;
    height: 40px;
    padding: 8px;
    text-align: justify;
    border: none;
    border-radius: 5px;
    outline: none;
}

#footer-email-btn {
    margin-left: 2rem;
    width: 110px;
    height: 40px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (max-width:1170px) {
    .footer-email-form h2{
        margin-top: 3rem;
    }
}